// Primary.
$primary: #16a7e0;
$primary-hover: #0f85b3;
$primary-transparent: rgba(22, 167, 224, 0.2);

// Secondary.
$secondary: #f17a21;

// Lighter.
$lighter: #56cfff;
$lighter-transparent: rgba(86, 207, 255, 0.2);

// Error.
$error-colour: red;
